.SWGradient{
 /* Definindo o gradiente linear */
 background: linear-gradient(90deg, rgba(73,112,234,1) 0%, rgba(25,28,156,1) 35%, rgba(195,77,254,1) 57%, rgba(255,55,214,1) 100%);
 /* Definindo o texto como transparente para permitir a visualização do gradiente */
 -webkit-background-clip: text;
 background-clip: text;
 /* Definindo a cor do texto (caso o navegador não suporte a propriedade background-clip) */
 color: transparent;
}


.rounded-checkbox-a {
    border-radius: 50%; /* Torna o botão redondo */
    width: 20px; /* Ajusta o tamanho do botão conforme necessário */
    height: 20px;
    background-color: red; /* Cor de fundo vermelha */
    border: 2px solid #fff; /* Borda branca de 2px */
    cursor: pointer; /* Mostra o cursor como um ponteiro ao passar sobre o botão */
  }